---
---
<header class="site-header">
  <div class="wrap">
    <a href="/my/" class="logo">The<span>Beauty</span>GPT</a>
    <nav>
      <a href="/my/">Home</a>
      <a href="/my/about/">About</a>
    </nav>
  </div>
</header>
